body {
  font-family: sans-serif;
  padding: 30px;
  margin: 10px;
  background-color: #e3f6f5;
}

.card {
  border: none;
  position: absolute;
  max-width: 80%;
  border-radius: 50px;
}

.card-body {
  background-color: #b3e9e9;
  color: white;
  height: 40rem;
  border-radius: 50px;
}

.button {
  background-color: #b3e9e9;
  color: grey;
  border-radius: 10px;
  border: grey 0.1mm thin;
}

#current-location-button {
  font-size: 15px;
  border: none;
  padding: 0;
}

#dayTemperature {
  font-size: 20px;
  padding-right: 20px;
}

#icon {
  font-size: 70px;
}

#temperatures {
  font-size: 40px;
  color: rgb(21, 121, 187);
}

#city {
  font-size: 40px;
  margin: 10px;
  color: rgb(21, 121, 187);
}

#today {
  font-size: 20px;
  padding-bottom: 25px;
}

#temperatureForecast {
  margin: 40px 0px;
  font-size: 20px;
  position: static;
  bottom: 0;
}

.weekForecast {
  width: 100px;
  margin-top: 40px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 18px;
  color: rgb(21, 121, 187);
}

.weather-forecast-temperature-min {
  font-size: 16px;
  opacity: 0.5;
  color: rgb(21, 121, 187);
}

footer {
  bottom: 0;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  height: 100px;
  margin: 0 auto;
  width: 400px;
  text-align: center;
  padding: 10px;
  color: grey;
}
